@model ClubFinance.Models.Membership3

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Membership3</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClubId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClubId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MembershipOptionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembershipOptionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMember)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnregistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnregistrationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
