@{
    ViewBag.Title = "UCLA Anderson Club";
    //Layout = "~/Views/Shared/_Layout.cshtml"; -> See '_vewStart.cshtml'
}



<div class="row">
    <div class="col-md-4">
        <h3>Admin Perspective</h3>
        <a href="@Url.Action("Index", "Club2", new { mode = 1 }, null)" class="btn btn-primary btn-large btn-block">View Clubs &raquo;</a>
        <a href="@Url.Action("Create", "Club2")" class="btn btn-primary btn-large btn-block">Create a Club &raquo;</a>
     </div>
     <div class="col-md-4">
        <h3>Officer Perspective</h3>
        <a href="@Url.Action("Index", "Club2", new { mode = 2 }, null)" class="btn btn-primary btn-large btn-block">View Clubs &raquo;</a>
    </div>
    <div class="col-md-4">
        <h3>User Perspective</h3>
        <a href="@Url.Action("Index", "Club2", new { mode = 3 }, null)" class="btn btn-primary btn-large btn-block">View Clubs &raquo;</a>
        <a href="@Url.Action("Index", "Club2", new { mode = 3 }, null)" class="btn btn-primary btn-large btn-block">View My Memberships &raquo;</a>
    </div>
<div class="col-md-6"></div>
</div>
<!--
<div class="row">
    <div class="col-md-4">
        <h3>Membership configuration</h3>
        <p>@Html.ActionLink("Membership configuration \u00BB", "MembershipConfig", "Membership", null, new { @class = "btn btn-default" })</p>
     </div>
    <div class="col-md-4">
        <h3>Join a club</h3>
        <p>@Html.ActionLink("Join a club \u00BB", "Join", "Membership", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
-->