@model ClubFinance.Models.MembershipOption2

@{
    ViewBag.Title = "Add Membership Option";

   }

<h4>@ViewBag.Title</h4>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

   
    <div class="form-horizontal">
        <h3>@ViewBag.ClubName (@ViewBag.ClubNickName)</h3>
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        @Html.HiddenFor(model => model.ClubId, new { @Value = ViewBag.ClubId })
        @Html.HiddenFor(model => model.IsActive, new { @Value = true })

        <div class="form-group">
            @Html.LabelFor(model => model.Option, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Option, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Option, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="OtherNameDiv">
            @Html.LabelFor(model => model.OtherName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OtherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expiration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expiration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Expiration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#OtherNameDiv').hide();
            $('#Option').change(function () {
                if($('#Option option:selected').val()==4)
                {
                    $('#OtherNameDiv').show();
                } else {
                    $('#OtherNameDiv').hide();
                }
            });
        });
    </script>
}


