

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Club Finance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Club Finance", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3"><img src="~/Content/UCLAAnderson-Logo-ITN.png" class="img-responsive"/></div>
                <div class="col-md-9"><h2>Club Finance Development Page</h2></div>
            </div>
            </br>
            <div class="row">
                <div class="col-md-12"><p class="lead">Club Finance provides membership configuration and joining a club.</p></div>
            </div>
        </div>     
               
            
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Internet Project Finance Team v 1.01 (@Html.Action("Implementer", "Home"))</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
